div, span {
    width: 80px;
    height: 80px;
    margin: 20px;
}

div {
    background-color: red;
    display: inline-block;
}

span {
    background-color: blue;
    display: block;
}

/* 
    block - 상자인데 한 줄에 하나
    inline - 물건
    inline-block - 상자인데 한 줄에 여러개 
 */