body{
    box-sizing:border-box;
    margin: 0;
}

.container {
    background-color: beige;
    height: 100vh;
    /* 100vh: 부모와 상관없이 보이는 view height에 100%를 다 쓰겠다*/
    /* 
        만약 100%로 할 경우 부모가 지정되지 않으면 보이지 않음.
        그렇다고 body만 100%로 적용해도 html이 100%아니라서 적용안되기 때문에 
        body, html {height: 100%;} 적용해야 함
    */

    display: flex;
    /* 중심축(수평 또는 수직)을 지정하는 속성 */
    flex-direction: row; 
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    
    /* item이 가득차면 한 줄에 넘어가게 할건지 설정*/
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    /* flex-flow = flex-direction + flex-wrap */
    /* flex-flow: column nowrap; */

    /* 중심축에서 item 배치 */
    justify-content: flex-start;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */

    /* 반대축에서 item 배치 */
    /* align-items: center; */
    align-items: baseline;

    /* 반대축에서 item 지정 */
    /* align-content: space-between; */
    align-content: center;
}

.item {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.item1 {
    background-color: #ef9a9a;
}

.item2 {
    background-color: #f48fb1;
}

.item3 {
    background-color: #ce93d8;
}

.item4 {
    background-color: #b39ddb;
}

.item5 {
    background-color: #90caf9;
}

.item6 {
    background-color: #a5d6a7;
}

.item7 {
    background-color: #e6ee9c;
}

.item8 {
    background-color: #fff59d;
}

.item9 {
    background-color: #ffcc80;
}

.item10 {
    background-color: #ffab91;
}